.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  background-color: rgb(187, 222, 238);
}

.navList {
  padding: 10px 20px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
