.movieWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}

.movieContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailList {
  border-bottom: 1px solid gray;
}

.detailItem {
  padding-bottom: 30px;
}
