.form {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
}

.button {
  display: inline-block;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
  background-color: rgb(124, 16, 16);
  color: #fff;
  border-radius: 4px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: rgb(238, 65, 34);
}

.input {
  display: inline-block;
  width: 100%;
  height: 100%;
  font: inherit;
  font-size: 18px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
}
